# Append path

In [34]:
# Add the project root to Python's search path to be imported from other folders.
import sys, os
sys.path.append(os.path.abspath('../../'))

# Imports

In [35]:
import importlib
import modules.utils.utils as utils
import modules.yfinance.yfinance_api as yfinance_api
importlib.reload(utils)
importlib.reload(yfinance_api)

# Variables

In [36]:
ticker_list = ["SANB11.SA", "ITUB4.SA", "BOVA11.SA"]
path = "../../data/raw/yfinance"

# Dates to download

In [37]:
last_date = utils.get_last_date_downloaded(os.path.join(path, ticker_list[0]))

dates = utils.get_dates_to_download(last_date)

print("Datas para download:", dates)

Datas para download: ['2025-11-01', '2025-11-02', '2025-11-03', '2025-11-04', '2025-11-05', '2025-11-06', '2025-11-07', '2025-11-08', '2025-11-09', '2025-11-10', '2025-11-11']

# Extract

In [40]:
yf = yfinance_api.YFinanceAPI(ticker_list[0])

df_test = yf.download_history(dates[-1])

# Initial data analysis

In [41]:
display(df_test.shape) # Cols and Rows count
display(df_test.head()) # First 5 rows
display(df_test.tail()) # Last 5 rows

(17, 7)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2025-11-11 10:00:00-03:00,32.650002,33.049999,32.520000,33.020000,79400,0.0,0.0
2025-11-11 10:15:00-03:00,33.000000,33.070000,32.939999,32.970001,36400,0.0,0.0
2025-11-11 10:30:00-03:00,32.939999,33.209999,32.900002,33.110001,76600,0.0,0.0
2025-11-11 10:45:00-03:00,33.119999,33.259998,32.959999,33.189999,128500,0.0,0.0
2025-11-11 11:00:00-03:00,33.180000,33.349998,33.169998,33.240002,79500,0.0,0.0

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2025-11-11 13:00:00-03:00,32.990002,33.029999,32.970001,33.009998,108200,0.0,0.0
2025-11-11 13:15:00-03:00,33.000000,33.040001,32.990002,33.020000,63000,0.0,0.0
2025-11-11 13:30:00-03:00,33.020000,33.119999,33.009998,33.099998,73600,0.0,0.0
2025-11-11 13:45:00-03:00,33.090000,33.119999,33.040001,33.040001,175900,0.0,0.0
2025-11-11 14:00:00-03:00,33.029999,33.070000,33.029999,33.060001,28400,0.0,0.0